# Compiled Lua sources
luac.out

# LuaRocks build files
*.src.rock
*.zip
*.tar.gz
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# LuaRocks
.luarocks/
lua_modules/

# Temporary files
*.swp
*~
.DS_Store
.vscode